h1{
    font-size: xx-large;
    text-align: center;
}

.container1{
    display: flex;
    height: 100vh;
    margin-top: -20px;

}

.fitem1{
    display: flex;
    background-color: rgb(68, 67, 67);
    border: 2px solid black;
    overflow-x: auto;
    
    
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-flow: row wrap;
    padding: 0 0 0 30px;

}

.cardbox{
    background-color: rgb(59, 59, 57);
    border: 2px solid black;
    margin: 12px;
    width: 250px;
    height: 190px;
}
h2{
    font-size: 2em;
  
}
.form1{
    margin-top: 10%;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(238, 161, 60);
}

.movie1{
    margin-bottom: 0%;
    /* margin-top: -16px; */
    height: 190px;
    width: 250px;
    background-color: rgb(238, 161, 60);
    line-height: 26px;
}

h3{
    margin: 11px ;
    
}
h4{
    margin: 5%;
}
.title{
    font-size: x-large;
}

@media (max-width:600px){
    .container1{
        flex-direction: column;
        height: 100%;
        
        
    }
    
}
@media (max-width:1400px) and (min-width:600){
    .container1{
        
        height: 2px;
        background-color: blue;
        
        
    }

    .btn1{
        color: blueviolet;
        size: 1px;
        display: flex
        ;
    
    }
}

.btn1{
    color: blueviolet;
    size: 1px;
    display: flex;
    border-radius: 11px;
    /* flex-direction: ; */
    

}

p{
    border: 20px solid cyan;
    height: auto;
}